<?xml version="1.0" encoding="UTF-8"?>

<project>
<% @nodes.each do |val| %>
  <node name="<%= val['name'] %>"
        hostname="<%= val['hostname'] %>"
        username="<%= val['username'] %>" />
<% end %>
</project>
